body > a {
  display: inline-block;
  margin: 12px;
  font-weight: bold;
}
picture {
  display: block;
  max-width: 460px;
  img {
    width: 100%;
    margin-top: 16px;
  }
}
li {
  padding: 1px;
}
strong {
    font-size: 16px;
}