html, body {
  height: 100%;
  width: 100%;
}

table {
  width: 650px;
  border: 1px solid #000;
  margin: 20px auto;
}
th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-spacing: 0;
}
thead td {
  text-align: center;
  vertical-align: middle;
}